/* colors the 'ANGER' in 'hANGER' red */
#red {
    color:red;
}

/* black background with transparent carousel makes for a black tint over page */
body {
    background-color:black;
}

.carousel-item {
    opacity: 0.75;
}


#mainNavbar .navbar-brand {
    color: white;
    font-size: 2.5rem;
    font-weight: 100;
    font-family: "Lato";}



#navbarSupportedContent {
    color: #FCFDFE;
    font-size: 1.0rem;
    font-weight: 100;
    font-family: "Poppins";
}


/* do not re-size .search-form because it is tied to the advanced search filter */


#search-bar {
	position:absolute;
    top:30%;
    margin-left: 33%;
    margin-right: 33%;
    font-family: "Poppins";
    min-width: 485px;
    /* min-width to prevent crushing in when browser width is resized*/
}


.form-group {
    margin-left: 30%;
    margin-right: auto;
}


/* prevents magnifying glass icon from turning blue, like a hyperlink */
.fa-search {
    color:black;
}



#adv-search-button {
    margin-top: 5px;
    text-align: center;
    margin-left: 10px;
    border-color: white;
    color:white;
    background-color:#212529;
    opacity: 0.75;
}

#adv-search-button:hover {
    background-color:red;
    color:white;
    border-color: white;
    opacity: 1.0;
}


#all-results {
    position: absolute;;
    top:100%;
    left:10%;
    right:10%;
    /* margin-left: auto;
    margin-right: auto; */
    font-family: "Poppins";
    min-width: 80%;
    
}

#recipe-results {
    width:100%;
    /* background-color: #212529; */
    opacity: 0.75;

}



.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1031;
}

#bottomNav {
    color: #FCFDFE;
    font-size: 1.0rem;
    font-weight: 100;
    font-family: "Poppins";

    padding: 20px;
}



